body{
    background-color:#00ffff;
}
.conimagen{
    text-align: center;
    background-image:url('imagenes/reunion.png');
}
h1{
    background-color: #008b8b;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}
img{
    height: 300px;
    border-radius: 50%;
}
.miinfo{
    font-size: 80px;
    text-decoration: none;
}
.section1{
    text-align: center;
}
.final{
    background-color: #008b8b;
    height: 50px;
    text-align: center;
    margin-top:290px;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
}
.icono{
    height: 20px
}
h2{
    background-color: #008b8b;
    color: #000000;
    text-indent: 15px;
    letter-spacing: 8px;
}
.italica{
    font-style: italic;
}
span{
    font-weight: bold;
}
ul{
    font-size: 20px;
    font-family: Verdana;
    line-height: 30px;
}
div{
    text-indent: 140px;
}
footer{
    background-color: #008b8b;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}
.volver{
    text-decoration: none;
    font-size: 20px;
    line-height: 80px;
}
.regresar{
    text-align: right;
}


